@{
    ViewBag.Title = "Прогнозирование заболеваний пшеницы";
}

<div class="jumbotron">
    <h1><center>Прогнозирование рисков возникновения заболеваний у зерновой культуры пшеницы</center></h1>
    <p><center><a class="btn btn-default" href="/Home/Forecasting">Перейти к прогнозированию &raquo;</a></center></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IBM Watson</h2>
        <p>Для прогнозирования был использован суперкомпьютер фирмы IBM, оснащенный вопросно-ответной системой искусственного интеллекта.</p>
        <p><a class="btn btn-default" target="_blank" href="https://www.ibm.com/watson/">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IBM Bluemix</h2>
        <p>Для создания инфраструкуры был использован Bluemix – облачная архитектура IBM, которая позволяет быстро создавать, развертывать и администрировать облачные приложения.</p>
        <p><a class="btn btn-default" target="_blank" href="https://www.ibm.com/cloud/">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IBM Data Science</h2>
        <p>Для работы с данными был использован Data Science - это облачная социальная рабочая среда, созданная специалистами по обработке данных, которая предназначена для совместной работы с использованием нескольких инструментов с открытым исходным кодом, таких как R и Phyton. </p>
        <p><a class="btn btn-default" target="_blank" href="https://datascience.ibm.com/">Подробнее &raquo;</a></p>
    </div>
</div>